<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TIME LOG</title>
  
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet" />
</head>
<body>

    @RenderBody()
</body>


<script src="@Url.Content("~/js/app.js")"></script>
</html>